/*
 *= require_tree .
 *= require_self
 */

@import "mixins";

$main-color: #798BAA;

body {
  background: white;
  color: $main-color;
  font-family: "Gotham-Book", "Arial Black", "Arial";
  margin: 30px auto;
  font-size: 20pt;
}

.bonus {
  text-align: center;
  width: 350px;
  margin: auto;
  
  h1, h2 {
    text-transform: uppercase;
    padding: 0px;
    font-size: 1em;
    line-height: 24pt;
  }
  
  h1 {
    font-family: "Gotham-Regular", "Arial Black", "Arial";
    margin-bottom: 0;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .cover {
    padding: 2px;
    
    img {
      width: 100%;
    }
  }
  
  .flipper {
    position: relative;
    height: 100px;
    @include vendor-specific(transform-style, preserve-3d);
  	@each $vendor in moz, webkit, o, ms {
  		-#{$vendor}-transition: -#{$vendor}-transform 1s;
  	}
    transition: transform 1s;
    
    &.flipped {
      @include vendor-specific(transform, rotateX(180deg));
      
      .form {
        opacity: 0;
        
        .mod-no-csstransforms3d & {
          display: none;
        }
      }
      
      .mod-no-csstransforms3d & .download {
        display: block;
      }
    }
    
    > div {
      position: absolute;
      width: 100%;
      @include vendor-specific(backface-visibility, hidden);
    }
    
    .form {
      opacity: 1;
      @include vendor-specific(transition, opacity .5s);
      
      #code {
        font-family: inherit;
        font-size: .6em;
        color: inherit;
        border: 1px solid $main-color;
        padding: 3px;
        text-align: inherit;
      }
      
      .error {
        margin-top: 5%;
        font-size: .5em;
        opacity: 0;
        @include vendor-specific(transition, opacity .5s);
        
        .mod-no-opacity & {
          display: none;
        }
        
        &.shown {
          opacity: 1;
          
          .mod-no-opacity & {
            display: block;
          }
        }
      }
    }
    
    .download {
      font-size: .5em;
      @include vendor-specific(transform, rotateX(180deg) translateZ(1px));
      
      .mod-no-csstransforms3d & {
        display: none;
      }
      
      ul {
        margin: 10px 0;
        padding: 0;
        list-style: none;
        
        li {
          padding: 1px;
          
          a {
            text-decoration: none;
            color: inherit;
          }
          
          .size {
            font-size: .6em;
            vertical-align: middle;
            padding-left: 3%;
          }
        }
      }
    }
  }
}

@include font-face("Gotham-Regular");
@include font-face("Gotham-Book");